@import '../colors';

.todo-container {
  display: flex;
  flex-direction: row;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  border-bottom: 1px solid rgb($grey, 0.3);

  cursor: pointer;


  .checkbox {
    border: 2px solid rgb($purple, 0.3);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
    transition: background-color 0.3s;

    .check-icon {
      margin: auto;
      // hide by default
      opacity: 0;
      transition: opacity 0.3s;
      color: rgb($dark-grey, 1);
    }

  }

  &.completed {
    color: rgb($dark-grey, 0.7);
  }
}

.todo-item:hover .checkbox{
  background: rgb($purple, 0.3);
  .check-icon {
    opacity: 0.4;
  }
}

.todo-item.completed .checkbox {
  background: rgb($purple, 0.6);
  border-color: rgb($purple, 0.6);

  .check-icon {
    opacity: 1;
  }

}

.todo-item:hover .todo-controls {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.todo-item .todo-controls {
  position: relative;
  bottom: 0;
  right: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;

  .todo-control-button {
    display: flex;
    background: rgb($grey, 0.1);
    padding: 7px 10px;
    border-radius: 10px;

    &:hover {
      background: rgb($grey, 0.3);
    }


  }
}

