@import '../colors';

.todo-container {
  display: flex;
  flex-direction: row;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  padding: 20px;



  .checkbox {
    border: 2px solid rgb($purple, 0.3);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
    transition: background-color 0.3s;

    .check-icon {
      margin: auto;
      // hide by default
      opacity: 0;
      transition: opacity 0.3s;
    }

  }
}

.todo-item:hover .checkbox{
  background: rgb($purple, 0.3);
  .check-icon {
    opacity: 0.4;
  }
}
