@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import 'app/colors';

.alt-gradient-button {
  background: linear-gradient(to left, $purple, $dark-blue);
  color: white;
  border: none;
  font-weight: 600;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    color: white;
    box-shadow: 0px 0px 0px 3px rgba($black, 0.12);
  }

  &:active {
    color: white;
    opacity: 0.7;
  }

  &:focus {
    color: white;
    opacity: 1;
  }
}
